<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lista de Pedidos</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let pedido of listaPedidos; index as i" (click)="openMaterialList(pedido)">
    <ion-card-header>
      <div class="card__header">
          <span class="card__title">{{ i+1 }}.PEDIDO {{pedido.pedido}}</span>
          <span class="card__date" text-right>
            <ion-icon ios="ios-calendar" md="md-calendar" class="card__icon"></ion-icon>{{pedido.pmaData}}
          </span>
      </div>
    </ion-card-header>
    <ion-card-content>
        <p class="card__content">
            <span>Tipo: {{pedido.movimento}} / Origem: {{pedido.requisitante}}</span>
            <span>Obs:{{pedido.observacao}}</span>
        </p>
    </ion-card-content>
  </ion-card>
  <ion-grid *ngIf="loaded && !listaPedidos.length" style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      Sem pedidos no momento.
    </ion-row>
  </ion-grid>
</ion-content>
